.section{
    background-color: #f11111;
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    transition: 1s;
    transition-duration: 2s;

}
.section:hover{
    background-color: pink;
    border-radius: 50%;
}
.sections{
    background-color: aliceblue;
    border: 1px solid black;
}

.sections div{
    background-color: #ba2e9b;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    position: relative;
    animation-name: sections ;
    animation-duration: 5s;
}
@keyframes  sections {
    0%   { left:10% ;top:10%;} 
    50%  { left:90% ;top:10%;}
    100% {left:10% ;top:10%;}

}